@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="d-sm-flex align-items-center justify-content-between">
        <div>
            <h1>Simplify your <span class="text-danger"> PCS </span></h1> <br />
            <p class="lead my-4">
                Rely on us to provide some moving related Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi scelerisque eu ultrices vitae auctor eu augue. In hendrerit gravida rutrum quisque non tellus orci ac. Elementum curabitur vitae nunc sed velit. Eu scelerisque felis imperdiet proin.
            </p>
     
        </div>
  
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Got Orders?</h2>
        <p>
            Moving?  Learn about your next duty station!  Knowing more about where you're headed can help you plan and take you from nervous to excited.
        </p>
        <p><a class="btn btn-danger" href="https://www.military.com/base-guide">Base Guides &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>First PCS?</h2>
        <p>Moving is an adventure!  Military moves are an adventure all their own.  Confused by all the acronyms, different allowances and conflicting information?  Check out a beginner's guide to PCS to get started. </p>
        <p><a class="btn btn-default" href="https://www.katehorrell.com/the-ultimate-pcs-guide-to-packing-out/">PCS basics &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ready to Go!</h2>
        <p>If you know where you're headed and are ready to start that super fun task of packing up your life, start here!  We'll help keep track of everything from the moment you get orders until the final Damage Claim is resolved.</p>
        <p><a class="btn btn-primary" href="#">Let's go! &raquo;</a></p>
    </div>
</div>